<div ng-app="myModule" ng-controller="myController">
    FirstName: <input type="text" name="FirstName" ng-model="employee.FirstName" /></br>
    LastName: <input type="text" name="LastName" ng-model="employee.LastName" /></br>
    Gender: <input type="text" name="Gender" ng-model="employee.Gender" />
    <button ng-click="onclick()">click</button></br>
    </br>
    </br>


    Firstname : {{employee.FirstName}} </br>
    Lastname : {{employee.LastName}} </br>
    Gender : {{employee.Gender}} </br>

    mix : {{mix}}
</div>