<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thanh.OnlinePharmacy">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo_pharmacy"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity android:name=".SplashScreenActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.MainActivity_" />
        <activity android:name=".view.login.Profile_" />
        <activity android:name=".view.login.EditProfile_"></activity>
        <activity android:name=".view.prescription.ReceiverPrescriptionDetailsActivity_" />
        <activity android:name=".view.pay.PayCardActivity_" />
        <activity android:name=".view.menu.Menu_" />
        <activity android:name=".view.prescription.SelectMethodSendPrescriptionActivity_" />
        <activity android:name=".view.prescription.ReceiverPrescriptionConfirmDetailsActivity_" />
        <activity
            android:name=".view.pay.PayActivity_"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".view.prescription.ReceiverPrescriptionActivity_" />
        <activity android:name=".view.prescription.ReceiverPrescriptionConfirmActivity_" />
        <activity android:name=".view.about.AboutInformationActivity_" />
        <activity android:name=".view.setting.SettingActivity_" />
        <activity android:name=".view.support.SupportActivity_" />

    </application>

</manifest>