<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thanh.OnlinePharmacy">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/medicine"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity android:name="com.example.thanh.OnlinePharmacy.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.thanh.OnlinePharmacy.MainActivity" />
        <activity android:name="com.example.thanh.OnlinePharmacy.login.Profile" />
        <activity android:name="com.example.thanh.OnlinePharmacy.prescription.ReceiverPresciptionActivity" />
        <activity android:name="com.example.thanh.OnlinePharmacy.pay.PayCardActivity" />
        <activity android:name="com.example.thanh.OnlinePharmacy.menu.Menu" />
        <activity android:name="com.example.thanh.OnlinePharmacy.prescription.QRcodePrescriptionActivity" />
        <activity android:name="com.example.thanh.OnlinePharmacy.prescription.SelectMethodSendPrescriptionActivity" />
        <activity android:name="com.example.thanh.OnlinePharmacy.prescription.TakePhotoSentPrescriptionActivity" />
        <activity android:name="com.example.thanh.OnlinePharmacy.prescription.ReceiverPrescriptionConfirmActivity" />
        <activity
            android:name="com.example.thanh.OnlinePharmacy.pay.PayActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.example.thanh.OnlinePharmacy.prescription.SendPresciptionActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>