<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thanh.OnlinePharmacy">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/medicine"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity android:name="com.example.thanh.OnlinePharmacy.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.thanh.OnlinePharmacy.MainActivity" />
        <activity android:name="com.example.thanh.OnlinePharmacy.Login.profile" />
        <activity android:name="com.example.thanh.OnlinePharmacy.Prescription.fragments.receiverPresciption" />
        <activity android:name="com.example.thanh.OnlinePharmacy.Pay.fragment.PayCard" />
        <activity android:name="com.example.thanh.OnlinePharmacy.Menu.Menu" />
        <activity android:name="com.example.thanh.OnlinePharmacy.Prescription.fragments.QRcodePrescription" />
        <activity android:name="com.example.thanh.OnlinePharmacy.Prescription.Select_method_send_prescription" />
        <activity android:name="com.example.thanh.OnlinePharmacy.Prescription.fragments.takePhotoSentPrescription" />
        <activity android:name="com.example.thanh.OnlinePharmacy.Prescription.fragments.receiverPrescriptionConfirm" />
        <activity
            android:name="com.example.thanh.OnlinePharmacy.Pay.fragment.Pay"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.example.thanh.OnlinePharmacy.Prescription.fragments.sendPresciption"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>